.PageBackground{
    background-image: url('../AnimeDetailsBackground.jpg');
    background-size: contain;
    display: flex;
    flex-direction: column;
    height:auto;
}
.AnimeTitle{
    font-size: 2rem;
}
.AnimeText{
    height:8rem;
    font-size: 1.1rem;
    overflow-y: scroll;
}
.card{
    background-color: rgba(0, 0, 0, 0.5);
}
