.AnimeListContainer{
    width: 100vw;
    background-image: url('../images/AnimeDetailsBackground.jpg');
    background-size:contain;
    overflow: hidden;
}

/* .ListHeading{
    border-bottom: 2px solid white;
} */

.PaginationContainer{
    height:5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid white;
}

.PaginationBtn{
    width: 35%;
}