.AnimeListContainer{
    background-image: url('../images/AnimeDetailsBackground.jpg');
    background-size:contain;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/* .ListHeading{
    border-bottom: 2px solid white;
} */

.PaginationContainer{
    height:5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid white;
}

.PaginationBtn{
    width: 35%;
}
/* .AnimeDesktopContainer{
    min-height: 100vh;
    background-image: url('../images/AnimeDetailsBackground.jpg');
    background-size:contain;
    overflow-x: hidden;
} */
@media (min-width:1024px) {
    .PaginationContainer{
        border:2px solid white;
        border-radius: 1rem;
    }
}