.PageBackground{
    background-image: url('../images/AnimeDetailsBackground2.jpg');
    display: flex;
    flex-direction: column;
    /* height:auto; */
}
.AnimeTitle{
    font-size: 2rem;
    height:5rem;
    overflow-y: scroll;
}
.AnimeText{
    height:8rem;
    font-size: 1.1rem;
    overflow-y: scroll;
}
.card{
    background-color: rgba(0, 0, 0, 0.5);
}
.DesktopBtn{
    text-shadow: 1px 1px black;
}
