.CharacterList{
    display: flex;
    align-items: center;
    justify-content: center;
}
.CharacterCard{
    height:7.5rem;
    width:12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.CharacterDP{
    /* border-radius: 50%; */
    height:6rem;
    width: 6rem;
}
.CharacterName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:5rem;
    width: 6rem;
    overflow-y: scroll;
    font-size: 0.9rem;
    word-wrap:break-word;
}
.CharacterRole{
    font-size: 0.6rem;
    color:gray;
}
.CollapseBtn{
    height:3rem;
    width: 3rem;
}