/* .show-item:hover{
    cursor: pointer;
    transition: 0.35s;
    opacity: 0.5;
} */
.card{
    background-color: rgb(0, 0, 0);
    color:white;
}
.card p{
    font-weight: bold;
}
a{
    text-decoration: none;
}